@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .btn-primary {
    @apply bg-blueThree hover:bg-blueTwo text-white font-semibold py-3 px-6 rounded-lg mr-4;
  }
  .btn-secondary {
    @apply border-2 border-white hover:bg-white hover:text-blueThree text-white font-semibold py-3 px-6 rounded-lg
  }
}